:root {
    --heading-font-family: "Special Gothic Expanded One", sans-serif;
    --body-font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font-family);
}

body {
    font-family: var(--body-font-family);
}

a {
    color: #899682;
}

a:hover {
    color: #2e4b2b;
}

body {
    background: #ececec;
}

.container {
    max-width: 900px;
}

.header {
    padding: 150px 0 50px 0;
}

footer {
    background-color: #899682; 
    color: white; 
    margin-left: calc(-50vw + 50%); 
    margin-right: calc(-50vw + 50%); 
    padding-left: calc(50vw - 50%); 
    padding-right: calc(50vw - 50%); 
    padding-top: 3rem; 
    padding-bottom: 3rem;
    margin-top: 4rem;
    text-align: center;
}

